@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
:root{
	--footer-height : clamp(20px , 20% , 50px);
}
.libre {
	font-family: "Barriecito", serif;
	font-weight: 400;
	font-style: normal;
}


.mono {
	font-family: "IBM Plex Mono", serif;
	font-weight: 500;
	font-style: normal;
}

html {
	min-height: 100vh;
}

body {

	color: white;
	padding-bottom: calc(2* var(--footer-height) + 10px);

}

.about-footer,
.home-footer {
	font-family: "Libre Baskerville";
	font-size: 1em;
	bottom: 10px;
	background:
		linear-gradient(to left, #919, black);
	width: 100%;
	height: var(--footer-height);
	position: fixed;
}

.home-footer {
	bottom: calc(var(--footer-height) + 10px);
	background: linear-gradient(to left, black, #3cb043);
}


p{
	margin: 2% 5%;
}
strong{
	font-weight: 700;
}