
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Libre+Baskerville:wght@700&display=swap');

.libre {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
  }
  

  .mono {
	font-family: "IBM Plex Mono", serif;
	font-weight: 500;
	font-style: normal;
  }

html {
	height: 100%;
}

body {
	
	color: white;
	
}



footer {
	font-size: 1em;
	text-align: center;
	position: fixed;
	bottom: 10px;
	background:
		linear-gradient(to left, #919, black);
	display: block;
	width: 100%;
}

a {
	color: white;
}
