---
import '../styles/global.css';
import About from '../components/about-footer.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
const pageHeading='The Noice Blog';
---

<BaseLayout pageHeading={pageHeading}>	
		<header class="text-center text-4xl">Hello World! , and welcome to my blog .</header><hr>
		<br>
		HERES MY FIRST BLOG POST !! <a class="animate-pulse hover:underline hover:text-green-300 " href="/posts/post1">LINK</a>
		<About/>
</BaseLayout>
