---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>noice</title>
	</head>
	<body class="sans">
		<h1 class="bevan-regular">The Noice Blog</h1>
		Hello World! , and welcome to my blog .<hr>
		WORK IN PROGRESS (lol)
		<footer><a href="/about" class="bevan-regular" >About Me</a></footer>
	</body>
</html>
