---
import '../styles/global.css'
import Base from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
const pageHeading = 'Posts'
const posts = Array.from(Array(3).keys())


---

<Base {pageHeading}>

    <ul class="list-none">
        {
            posts.map((postNum) => (<li class=" postBox border-2 border-black m-2 text-2xl hover:bg-black hover:text-white  text-center" ><a class="block h-full w-full" href=`/posts/post${postNum+1}`>Post {postNum+1} </a></li>))
        }
    </ul>

<Nav/>
</Base>


