---
import '../styles/global.css'
import Base from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
const pageHeading = 'Posts'
---

<Base {pageHeading}>
<p>
    <ul style="list-style-type: disc;" >
        <li>
            <a href="/posts/post1" class="animate-pulse hover:text-green-400 hover:underline underline-offset-8">Post 1</a>
        </li>
        <li>
            <a href="/posts/post2" class="animate-pulse hover:text-green-400 hover:underline underline-offset-8">Post 2</a>
        </li>
    </ul>
</p>
<Nav/>
</Base>
