<!-- <footer class="libre about-footer flex justify-center items-center"><a class="text-white text-center text-lg lg:text-2xl" href="/about" >About Me</a></footer> -->
<!-- <footer class="libre home-footer flex items-center justify-center"><a class="text-white text-center text-lg lg:text-2xl " href="/"> Home</a></footer> -->
---

---

<nav class="mono ">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/posts">Blog</a>
    </li>
    <li>
      <a href="/about">About Me</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.4);
    overflow: hidden;
    background-color: #F9F9E8;
    border: 2px solid black ;

  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

  }

  nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-wrap: nowrap;
    width: max-content;
    border-right: 1px solid black;
    border-left : 1px solid black;
  }

  nav ul li a:hover {
    background-color: black;
    color: white;
  }
  @media (max-aspect-ratio: 1) {
    nav ul li a{
      padding: 0.75rem 0.75rem;
    }
  }
</style>