---
import '../styles/global.css';
const {pageHeading} = Astro.props;
const {grad} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>noice</title>
	</head>
	<body class="mono text-lg">
		<h1 class="libre text-center text-6xl md:text-8xl  my-8 underline underline-offset-4 relative">{pageHeading}</h1>
		<slot name="logo"/>
		<slot/>
	</body>

</html>
