---
import '../styles/global.css';
const {pageHeading} = Astro.props;
const {grad} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>noice</title>
	</head>
	<body class="mono bg-gradient-to-b sm:bg-gradient-to-r from-blue-600 to-slate-500 text-lg">
		<h1 class="libre text-center text-white text-6xl md:text-8xl  my-8 underline underline-offset-4">{pageHeading}</h1>
		
		<slot/>	
	</body>

</html>
